<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <display-name>NewProject</display-name>
  
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  
     <servlet>
        <servlet-name>OAuthZoho</servlet-name>
        <servlet-class>servlet.OAuthZoho</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OAuthZoho</servlet-name>
        <url-pattern>/oauth</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>OAuthCallback</servlet-name>
        <servlet-class>servlet.OAuthCallback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OAuthCallback</servlet-name>
        <url-pattern>/oauthredirect</url-pattern>
    </servlet-mapping>
    
</web-app>